.profileContainer {
  padding-bottom: 50px;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 40px;
}

.profileHeader h2 {
  margin-top: 20px;
}

.sectionTitle {
  color: #fff;
  font-size: 1.1rem;
  margin: 15px 0 5px 0;
  text-align: left;
  width: 100%;
}

.changePassword  {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin-top: 20px;
}

.cancelChangePassword {
  background-color: rgb(239, 48, 48);
  margin-left: 20px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}

.changePassword:hover {
  border-color: var(--accent-border);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalActions {
  display: flex;
  margin-inline: 170px;
  margin-top: 10px;
}