:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: linear-gradient(185deg,#2c2f38 10%,#2f374f 30%,#2b3156 100%);
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --white: #ffffff;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin-top: 25px;
}

.input {
  padding: 15px;
  border-radius: 8px;
  border: none;
}

.enterLogin {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin-top: 20px;
}

.enterLogin:hover {
  border-color: var(--accent-border);
}

.otherWayEnter {
  color: rgb(33, 198, 116);
  font-weight: bold;
  cursor: pointer;
}