:root {
  --purple-deep: #3c096c;
  --yellow-card-footer: #f6dbbb;
  --orange-play: #e17e0e;
  --text-dark: #333;
}

/* Seção Principal da Biblioteca */
.library-section {
  flex: 1;
  padding: 2rem 100px 50px; 
}

.library-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.game-grid-container {
  display: grid;
  /* 3 colunas iguais que se ajustam para 2 ou 1 em telas menores */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px; /* Espaço entre os cards */
}

.game-card {
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden; 
  position: relative; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.last-access-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.85); 
  color: #555;
  font-size: 11px;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  backdrop-filter: blur(2px);
  z-index: 10;
}

.game-thumbnail {
  height: 180px; 
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee; 
}

.game-card-footer {
  background-color: var(--yellow-card-footer);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-score {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-dark);
}

.play-button {
  background-color: var(--orange-play);
  color: var(--white);
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.2s;
}

.play-button:hover {
  background-color: #c9700b;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .library-section {
    padding: 2rem 50px 50px;
  }
}

@media (max-width: 768px) {
  .library-section {
    padding: 2rem 20px 50px;
  }
}